@import url("https://fonts.google.com/specimen/Caveat?category=Handwriting");

:root {
  /* CSS HEX */
  --overlay-background: #171219;
  --background: #000000;
  --red-crayola: #ed254e;
  --paolo-veronese-green: #169873;
  --almond: #dcc9b6;
  --timberwolf: #e4dfda;
  --text: #fffbfc;
}

body {
  text-align: center;
  font-family: Calibri, Jura, sans-serif, "Open Sans", "Caveat";
  background-color: var(--overlay-background);
  color: var(--text);
}
